body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sketch-space {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sketch-square {
    padding: 5px;
    flex: 1;
}